@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>AMCAS Data Exchange Integration</h2>
    <p class="lead">Synchronize data from the AMCAS Data Exchange Servicve API into a designated database.</p>
    <p>@Html.ActionLink("Live Demo", "Index", "Main")</p>
</div>
