<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wingeneration.com/Demos</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wingeneration.com</MSDeployServiceURL>
    <DeployIisAppPath>wingeneration.com/Demos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>wingener</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="K4Y.AMCAS.DataExchange.DataStore.AmcasContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="K4Y.AMCAS.DataExchange.DataStore.AmcasContext, K4Y.AMCAS.DataExchange.DataStore" MigrationConfiguration="K4Y.AMCAS.DataExchange.DataStore.Migrations.Configuration, K4Y.AMCAS.DataExchange.DataStore" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WingenerationDatabase" Order="2" Enabled="False">
          <Destination Path="Data Source=216.104.43.254\MSSQLSERVER2012;Initial Catalog=wingener_AmcasSync;User ID=wingener_sa;Password=dummy_password" Name="Data Source=216.104.43.254\MSSQLSERVER2012;Initial Catalog=wingener_AmcasSync;User ID=wingener_sa;Password=dummy_password;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=216.104.43.254\MSSQLSERVER2012;Initial Catalog=wingener_AmcasSync;User ID=wingener_sa;Password=dummy_password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WingenerationDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=216.104.43.254\MSSQLSERVER2012;Initial Catalog=wingener_AmcasSync;User ID=wingener_sa;Password=dummy_password;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LocalDatabase" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=K4Y.AMCAS.DataExchange.DataAccess.AmcasContext;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=K4Y.AMCAS.DataExchange.DataAccess.AmcasContext;Integrated Security=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WingenerationDatabase-Web.config Connection String">
      <ParameterValue>Data Source=216.104.43.254\MSSQLSERVER2012;Initial Catalog=wingener_AmcasSync;User ID=wingener_sa;Password=dummy_password;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LocalDatabase-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="K4Y.AMCAS.DataExchange.DataStore.AmcasContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="K4Y.AMCAS.DataExchange.DataStore.AmcasContext" />
  </ItemGroup>
</Project>