<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RequestInterval" value="600000" />
  </appSettings>
  <connectionStrings>
    <add name="AmcasSyncDatabase" 
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=K4Y.AMCAS.DataExchange.DataAccess.AmcasContext;User ID=sa;MultipleActiveResultSets=True" 
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>