@model K4Y.AMCAS.DataExchange.WebClient.Models.MainModel

@using (Html.BeginForm("Parse", "Main"))
{
<div class="prompt-group">
    <input type="submit" value="Parse &#8811;" class="btn btn-primary btn-lg" />
    <p class="propmpt-text">Click on the 'Parse' button to parse the content of the XML and load it into the 'Applications retrieved from the API' table.</p>
</div>
<div>
    @Html.TextAreaFor(model => model.Content, 20, 40, new { @class = "xml-content-area" })
</div>
}
