@model K4Y.AMCAS.DataExchange.WebClient.Models.MainModel

@{
    /**/

    ViewBag.Title = "AMCAS Data Exchange Integration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AMCAS Data Exchange Integration - Demo</h2>

<div>
    @*Do not put the main page in a form, as this prevents the partial views to post to their own actions
        @using (Html.BeginForm())
        {
        }*@
    @Html.Partial("LoadApiResponse", Model)
    <table class="table">
        <tr>
            <th class="left-column">
                API RESPONSE
            </th>
            <th>
                API APPLICATIONS
            </th>
            <th class="right-column">
                DATABASE APPLICATIONS
            </th>
        </tr>

        <tr>
            <td class="left-column">
                @Html.Partial("ApiResponse", Model)
            </td>
            <td>
                @Html.Partial("ParseResult", Model)
            </td>
            <td class="right-column">
                @Html.Partial("DatabaseContent", Model)
            </td>
        </tr>
    </table>
</div>
