@model K4Y.AMCAS.DataExchange.WebClient.Models.MainModel

@using (Html.BeginForm("LoadApiResponse", "Main"))
{
<div class="prompt-group">
    <input type="submit" value="Load API Response" class="btn btn-primary btn-lg" />
    <p class="propmpt-text">Start by clicking the 'Load API Response' button to load an XML with sample applications. The same format is returned by the AMCAS Data Exchange Service API.</p>
</div>
}